.nav-top-wrap{
  padding: 5px;
  background: #020047;
  display: flex;
  height: 50px;
  justify-content: center;
  align-items: center;
}
.nav-top-wrap .log-w {
  flex:2;
  padding-left: 3%;
}
.nav-top-wrap .log-w span{
 width: 310px;
 height: 30px;
 display: inline-block;
 background-image: url('../resource/log.png');
 background-repeat: no-repeat;
}
.nav-top-wrap .min-max-close-w {
 flex: 4;
 display: flex;
 align-items: center;
 justify-content: flex-end;
 padding-right: 2%;
}
.nav-top-wrap .min-max-close-w span{
  margin-right: 20px;
  display: inline-block;
  background-repeat: no-repeat;
}
.nav-top-wrap .min-max-close-w .min {
  width: 15px;
  height: 2px;
  background-image: url('../resource/min.png');
}
.nav-top-wrap .min-max-close-w .max {
  width: 16px;
  height: 14px;
  background-image: url('../resource/max.png');
}
.nav-top-wrap .min-max-close-w .close {
  width: 14px;
  height: 15px;
  background-image: url('../resource/close.png');
}
.nav-top-wrap .forward-back-reload-w {
  display: flex;
  flex: 2;
  margin-left:5%;
}
.nav-top-wrap .forward-back-reload-w span {
  display: inline-block;
  margin-right: 20px;
  width: 20px;
  height: 20px;
  border:1px solid #fff;
  background-repeat: no-repeat;
  background-position: center center;
}
.nav-top-wrap .forward-back-reload-w .forward {
  background-image: url('../resource/forward.png');
}
.nav-top-wrap .forward-back-reload-w .back {
  background-image: url('../resource/back.png');
}
.nav-top-wrap .forward-back-reload-w .reload {
  background-image: url('../resource/reload.png');
}